[
  {
    "id": "5cc3041b-52bd-4146-818b-85b03feca0e4",
    "version": 0,
    "description": "descr",
    "timestamp": 1439043826000,
    "steps": 1000
  },
  {
    "id": "dbb9ea19-de7a-4095-9151-89d00fa8b605",
    "version": 0,
    "description": "descr",
    "timestamp": 1439162450000,
    "steps": 2000
  }
]
