[
  {
    "id": "b44abc86-a295-4f1f-9692-46c669fe5cea",
    "version": 0,
    "username": "D-1",
    "firstname": "F1",
    "lastname": "L1"
  },
  {
    "id": "8acda3a6-f9c2-41b8-b8e7-19dff7ed2d38",
    "version": 0,
    "username": "D-2",
    "firstname": "F2",
    "lastname": "L2"
  }
]
