[
  {
    "id": "3f7ab6bd-af17-4fea-92c5-781e03d938ba",
    "version": 0,
    "name": "study-1",
    "description": "d-1",
    "startdate": "1985-04-12",
    "enddate": "1985-04-12"
  },
  {
    "id": "b236bd18-c2dc-499d-b564-bf69ea02cec7",
    "version": 0,
    "name": "study-2",
    "description": "d-2",
    "startdate": "1986-04-12",
    "enddate": "1987-04-12"
  }
]